/* Logo Bar */
.logo-header {
    background:#2c3840 ;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
#logo{
    width: 230px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 15px;
}
.spacer {
    margin-top: 106px;
    position: static;
}
/* Logo Bar */

/* Hero Section */
.hero-section {
    background: url("assets/imgs/john-fornander-4VYLNi0qeF8-unsplash.jpg") 50% no-repeat;
    background-size: cover;
    height: 40vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* Hero Section */
  
/* Delete once actual search bar and btn set up */
  .hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
  }
  #tempSearchBar, #Btn{
    background-color: rgba(46, 46, 46, 0.502);
    color: cyan;
      }
/* Delete once actual search bar and btn set up */

/* Drink List Section */
#product {
    width: 100px;
    height: auto;
}
.article-row-section {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .article-row-section-inner {
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 100%;
  }
  
  @media print, screen and (min-width: 40em) {
    .article-row-section-inner {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  @media print, screen and (min-width: 40em) {
    .article-row-section-inner {
      -webkit-flex: 0 0 83.33333%;
          -ms-flex: 0 0 83.33333%;
              flex: 0 0 83.33333%;
      max-width: 83.33333%;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
      max-width: 83.33333%;
    }
  }
  @media print, screen and (min-width: 40em) and (min-width: 40em) {
    .article-row-section-inner {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  .article-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 1px solid #e6e6e6;
    padding: 1.5rem 0;
  }
  @media print, screen and (min-width: 40em) {
    .article-row {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
    }
  }
  .article-row-img img {
    width: 100%;
  }
  @media print, screen and (min-width: 40em) {
    .article-row-img img {
      max-width: none;
      width: auto;
    }
  }
  .article-row-content {
    padding: 1.5rem 0 0;
    color: #0a0a0a;
  } 
  @media print, screen and (min-width: 40em) {
    .article-row-content {
      padding: 0 0 0 1.5rem;
    }
  }
  .article-row-content-description {
    font-size: 1.25rem;
  }
  .article-row-reversed .article-row-content {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 1.5rem 0 0;
  }
  .article-row-reversed .article-row-img {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    padding: 0 0 1.5rem 0;
  }
  @media print, screen and (min-width: 40em) {
    .article-row-reversed .article-row-content {
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
    }
    .article-row-reversed .article-row-img {
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2;
    }
  }
/* Drink List Section */

/* Footer Menu */
.bottom-menu {
    background-color: #2c3840;
    position: fixed;
    bottom: 0;
    width: 100%
}
.bottom-menu a {
    color: #fff;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 25vw;
    text-align: center;
    border: #2c3840 outset ;
}
/* Footer Menu */
.drinkPic {
    width: 150px !important;
}


  